/* styles.css */

/* Réinitialiser les marges et les rembourrages par défaut */
body, h1, p, table, th, td {
    margin: 0;
    padding: 0;
}

/* Appliquer un style de base au tableau */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Style pour les en-têtes de colonnes du tableau */
th {
    background-color: white;
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    
}

/* Style pour les cellules du tableau */
td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
   
}

/* Appliquer une couleur de survol sur les cellules du tableau */
tr:hover td {
    background-color: whitesmoke;
    
    
}